<div class="grid">
  <div class="item-big">
    <div class="jumbo-wrapper">
      <div class="jumbotron" style="margin: 10px">
        <div>
          <h2 class="display-4">Hello, world!</h2>
          <p class="lead">Welcome to my resume/blog GitHub page</p>
          <hr class="my-2" />
          <p>
            Feel free to browse around and to contact me with suggestions or any
            inquire
          </p>
          <button type="button" class="btn btn-info" [routerLink]="['about']">
            Learn more
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="item-small">
    <div class="container bg-info list-dark">
      <h3>Social links</h3>
      <div class="social">
        <ul>
          <li>
            <a class="dark" href="mailto:pit.upgop.iti@gmail.com"
              ><i class="fas fa-at"></i>Email</a
            >
          </li>
          <li>
            <a href="https://www.linkedin.com/in/itipedroperez/" target="_blank"
              ><i class="fab fa-linkedin"></i>LinkedIn</a
            >
          </li>
          <li>
            <a
              href="https://open.spotify.com/user/12179202388?si=95b776a5c3cb474e"
              target="_blank"
              ><i class="fab fa-spotify"></i>Spotify</a
            >
          </li>
          <li>
            <a href="https://github.com/pit-upgop-iti" target="_blank"
              ><i class="fab fa-github"></i>GitHub</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="item-medium">
    <div class="container bg-primary list">
      <h3>TODO (not in order)</h3>
      <div>
        <ul>
          <li><i class="far fa-square"></i> Use JSON to load information</li>
          <li><i class="far fa-square"></i> Make responsive</li>
          <li><i class="far fa-square"></i> Send emails from the site</li>
          <li><i class="far fa-square"></i> Template for the resume</li>
          <li><i class="far fa-square"></i> Template for the blog</li>
          <li><i class="far fa-square"></i> Template for the resume</li>
          <li><i class="far fa-square"></i> Info for the about</li>
          <li><i class="far fa-square"></i> Write more in the about</li>
          <li><i class="far fa-square"></i> Create docs</li>
          <li>
            <i class="far fa-square"></i> Write a small to create based on input
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="item-medium">
    <div class="container bg-secondary list">
      <h3>DONE</h3>
      <div>
        <ul>
          <li><i class="far fa-check-square"></i> Start</li>
        </ul>
      </div>
    </div>
  </div>
</div>
