<div class="grid">
  <div class="item-xl bg-primary">
    <div class="profile">
      <div class="profile-content">
        <div class="profile-basic">
          <img src="../../../assets/img/profile.jpg" />
          <h4 class="">Pedro Emilio Perez Franco</h4>
        </div>
        <p class="profile-bio">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          feugiat dolor non ante vulputate convallis. Vestibulum pulvinar
          tristique elit. Ut nec turpis id magna aliquet volutpat ut eu elit.
          Morbi pretium rhoncus elit eget vestibulum. Suspendisse condimentum
          nibh sit amet eros elementum, vulputate vehicula massa ultrices.
          Maecenas consectetur mollis volutpat. Curabitur non lectus fringilla,
          placerat nisi ut, ultricies nulla. Donec lobortis sed tortor et
          dictum. Praesent imperdiet dapibus consequat. Duis sollicitudin
          lacinia magna non imperdiet. Curabitur tempor ante vel urna pharetra
          mattis. Ut sed congue sem, nec interdum dui. Morbi quis nulla et
          turpis finibus volutpat sed sit amet sapien. Maecenas urna augue,
          imperdiet a erat vitae, accumsan ornare urna. Fusce id elementum nibh.
          Nullam elementum, justo sed tristique luctus, nunc sapien semper
          neque, eget faucibus lorem est semper ligula. Pellentesque vehicula
          metus ut ligula semper tristique. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Aenean rutrum fringilla nisi, sed finibus
          nisl gravida eget. Sed id ipsum in eros congue posuere quis ac ipsum.
          Duis elementum ex mi, ut malesuada metus euismod quis. Aenean vehicula
          lacinia augue a ultrices. Fusce ut eros ex. Proin congue vestibulum
          pellentesque. Proin sed dapibus velit. Curabitur est ligula, vehicula
          semper suscipit aliquam, laoreet sit amet est. Nulla viverra nibh
          ante, vitae condimentum arcu sodales at. Ut a velit vestibulum velit
          iaculis fringilla ut ac nulla. Duis porta lectus id iaculis feugiat.
          Morbi a sollicitudin ante. Suspendisse et euismod sapien.
        </p>
      </div>
    </div>
  </div>
</div>
